.css-ubpweo-MuiPaper-root-MuiPopover-paper{
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.tss-1ufdzki-MUIDataTableSearch-main{
    margin-left: 0%;
}

.css-ubpweo-MuiPaper-root-MuiPopover-paper{
    width: 50%;
    height: 50%;
}